/* Login Page CSS */
.loginform{
  color: purple;
  font-size: x-large;
  align-items: center !important;
  justify-content: center !important;
  background-color: #a8a8a8;
  border: 5px solid;
  border-image: linear-gradient(45deg, purple, orange) 1;
  box-shadow: 1.25rem 1.25rem 1.25rem 1.25rem grey;
  max-width: 50%;
  max-height: 50%;
}

.libtn{
  background-color: purple !important;
  border: purple !important;
}

.libtn:hover{
  background-color: orange;
  border: orange;
  padding: 1.25rem;
}

.odieIMG{
  align-items: center !important;
  justify-content: center !important;
  text-align: center;
}
/* End of LoginPage CSS */

